body {
    font-family: 'MedievalSharp', cursive;
    margin: 0;
    padding: 20px;
    background-image: url('../images/parchment_texture.jpg');
    background-size: cover;
    color: #333;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}
.light-theme {
    background-color: #f0f0f0;
    color: #000000;
}
.stat {
    border: 2px solid #795548;
    padding: 15px;
    margin: 15px;
    border-radius: 12px;
    background-color: rgba(255, 248, 220, 0.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-family: 'MedievalSharp', cursive;
    transition: background-color 0.3s;
}
.light-theme .stat {
    background-color: rgba(255, 255, 224, 0.9);
}
.progress-bar {
    background-color: #d7ccc8;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}
.progress {
    height: 20px;
    background-color: #4caf50;
    width: 0%;
    transition: width 0.5s;
}
button {
    margin: 10px;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    background-color: #e0dacd;
    color: #333;
    border: 2px solid #5d4037;
    border-radius: 8px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.2s;
    font-family: 'MedievalSharp', cursive;
}
button:hover {
    background-color: #d2b48c;
    transform: scale(1.05);
}
#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
